.card {
    display: grid;
    position: relative;
    align-items: center;
    text-align: center;
    width: 300px;
    min-height: 400px;
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 0.6rem;
}

.card img {
    object-fit: fill;
    max-width: 300px;
    border-radius: 0.6rem 0.6rem 0 0;
    box-sizing: border-box;
    height: 300px;
    max-height: 300px;
}

.card > .display {
    line-height: 10px;
}

.tools {
    display: flex;
    justify-content: center;
    border: 0 0 .6rem .6rem;
    margin: 0 auto;
    scale: 1.3;
}