<div class="center">
    <h1>HouseworkApp</h1>
    <h2>Register</h2>
    <mat-stepper orientation="vertical" linear #stepper>
        <mat-step [stepControl]="firstFormGroup" label="Fill out your first and last name">
            <form [formGroup]="firstFormGroup">
                <mat-error *ngIf="firstFormGroup.controls['firstName'].invalid && firstFormGroup.controls['firstName'].touched">
                    Please enter your first name.</mat-error>
                <mat-form-field>
                    <input matInput placeholder="First name" formControlName="firstName" [(ngModel)]="user.firstName"
                        required type="text">
                </mat-form-field>
                <mat-error *ngIf="firstFormGroup.controls['lastName'].invalid && firstFormGroup.controls['lastName'].touched">
                    Please enter your last name.</mat-error>
                <mat-form-field>
                    <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="user.lastName"
                        required type="text">
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext (click)="this.firstFormGroup.markAllAsTouched()">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your email and phone number">
            <form [formGroup]="secondFormGroup">
                <mat-error *ngIf="secondFormGroup.controls['email'].invalid && secondFormGroup.controls['email'].touched">
                    Please enter a valid email.
                </mat-error>
                <mat-form-field>
                    <input name="email" matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email"
                        type="email" required>
                </mat-form-field>
                <mat-error *ngIf="secondFormGroup.controls['phoneNumber'].invalid && secondFormGroup.controls['phoneNumber'].touched">
                    Please enter your phone number.
                </mat-error>
                <mat-form-field>
                    <input matInput placeholder="Phone number" formControlName="phoneNumber"
                        [(ngModel)]="user.phoneNumber" type="tel" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" label="Enter a password for your account">
            <form [formGroup]="thirdFormGroup">
                <mat-error *ngIf="this.thirdFormGroup.controls['password'].invalid && this.thirdFormGroup.controls['password'].touched">
                    Enter a password.
                </mat-error>
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password" [(ngModel)]="user.password"
                        type="password">
                </mat-form-field>
                <mat-error *ngIf="this.thirdFormGroup.controls['confirmPassword'].invalid && this.thirdFormGroup.controls['confirmPassword'].touched">
                    Passwords must match.
                </mat-error>
                <mat-form-field>
                    <input matInput placeholder="Confirm password" formControlName="confirmPassword"
                        type="password">
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="onSubmit(); this.thirdFormGroup.markAllAsTouched()">Submit</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
    <p>Already have an account? <a routerLink="/login">Log In</a>!</p>
</div>