.image-uploader {
    position: relative;
    transition: all 200ms ease-in-out;
    width: 32px;
}

.image-uploader:hover {
    scale: 1.2;
}

.image-uploader label {
    position: absolute;
    cursor: pointer;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.image-uploader input {
    width: 23px;
    visibility: hidden;
}