<app-navbar></app-navbar>
<div class="container">
    <div class="container-top">
        <button class="back-btn" routerLink="/">
            <mat-icon>arrow_backward</mat-icon>
        </button>
        <a #hamburgerMenu class="hamburger-menu" [cdkMenuTriggerFor]="roomOptions">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </a>
        <ng-template #roomOptions>
            <div class="menu-options" cdkMenu>
                <button cdkMenuItem (click)="deleteRoom()">Delete</button>
            </div>
        </ng-template>
        <input #title id="title" [value]="currentRoom.name" (blur)="renameRoom(title)">
    </div>
    <div class="chores">
        <p *ngIf="currentRoom.status == 1">
            You have no chores left here!<br> Press the 'start'-button below to plan your cleaning journey
        </p>
        <p *ngIf="currentRoom.status == 3 && chores.length == 0">
            Press the '+'-button on the bottom right of this card to add a chore to your room. <br>
            When you feel happy about your chores, hit the 'start'-button to begin!
        </p>
        <div class="chore-preview-list" *ngIf="currentRoom.status != 0" cdkDropList
            (cdkDropListDropped)="choreDrop($event)">
            <div cdkDrag [cdkDragStartDelay]="dragStartDelay()" class="chore preview" *ngFor="let chore of chores; index as i">
                <p class="chore-priority">#{{ i + 1 }}</p>
                <input #choreName class="chore-name" [value]="chore.name"
                    (blur)="renameChore(chore, choreName.value, choreDesc.value)">
                <textarea #choreDesc autosize class="chore-desc" placeholder="Description text"
                    (blur)="renameChore(chore, choreName.value, choreDesc.value)">{{chore.description}}</textarea>
                <a class="remove-btn" (click)="removeChore(chore)">X</a>
            </div>
        </div>
        <div *ngIf="currentRoom.status == 0">
            <div #choreElem class="chore active" *ngFor="let chore of chores">
                <h2>{{ chore.name }}</h2>
                <p>{{ chore.description }}</p>
                <p class="experience-txt">Experience: {{ chore.experienceReward }}</p>
                <button *ngIf="currentRoom.status == 0" class="done-btn" (click)="onDoneClick(chore)">✔</button>
            </div>
        </div>
    </div>
    <button *ngIf="currentRoom.status == 3" class="add-room-btn" (click)="addChore()">
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <button *ngIf="currentRoom.status != 3" class="ready-btn" (click)="prepareChores()">Start</button>
    <button *ngIf="currentRoom.status == 3" class="ready-btn" (click)="executeChores()">Start</button>
</div>