<app-navbar></app-navbar>
<div class="container">
    <div class="container-top">
        <button class="back-btn" routerLink="/">
            <mat-icon>arrow_backward</mat-icon>
        </button>
        <a #hamburgerMenu class="hamburger-menu" [cdkMenuTriggerFor]="roomOptions">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </a>
        <ng-template #roomOptions>
            <div class="menu-options" cdkMenu>
                <button cdkMenuItem (click)="confirmDeleteDialog()">Delete</button>
            </div>
        </ng-template>
        <input #title id="title" [value]="currentRoom.name" (blur)="renameRoom(title)">
    </div>
    <div class="chores">
        <p *ngIf="currentRoom.status == status.Finished">
            You have no chores left here!<br> Press the 'start'-button below to plan your cleaning journey
        </p>
        <p *ngIf="currentRoom.status == status.Preparing && chores.length == 0">
            Press the '+'-button on the bottom right of this card to add a chore to your room. <br>
            Hit the 'start'-button when you are ready to clean.
        </p>
        <div class="chore-preview-list" *ngIf="currentRoom.status == status.Preparing" cdkDropList
            (cdkDropListDropped)="choreDrop($event)">
            <app-chore-card cdkDrag [cdkDragStartDelay]="dragStartDelay()" *ngFor="let chore of chores; index as i"
                [chore]="chore" [chorePriority]="i+1" [roomStatus]="currentRoom.status"
                (updateChoreEvent)="updateChores()">
            </app-chore-card>
        </div>
        <div *ngIf="currentRoom.status == status.Active" class="chore-active-list">
            <app-chore-card *ngFor="let chore of chores" [chore]="chore" [chores]="chores" class="active"
                [roomStatus]="currentRoom.status" (updateChoreEvent)="updateChores()">
            </app-chore-card>
        </div>
    </div>
    <button *ngIf="currentRoom.status == status.Preparing" class="add-room-btn" (click)="addChore()">
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <button *ngIf="currentRoom.status != status.Preparing" class="ready-btn" (click)="planChores()">Start</button>
    <button *ngIf="currentRoom.status == status.Preparing" class="ready-btn" (click)="executeChores()">Start</button>
</div>