.container {
    display: grid;
    justify-content: center;
    gap: 20px;
    background-color: var(--main-color);
    margin: auto;
    margin-top: 50px;
    min-width: 400px;
    max-width: 800px;
    width: auto;
    min-height: 500px;
    height: auto;
    border-radius: 0.6rem;
    padding: 15px;
}

.chore-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}

.container h1 {
    margin: auto;
    padding-bottom: 10px;
}

.container p {
    margin: auto;
    font-size: 1.3rem;
}

.chore {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    min-width: 300px;
    flex-grow: 1;
    flex-basis: 40%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    gap: 10px;
    text-align: center;
    align-items: center;
    background-color: rgba(40, 22, 124, 0.599);
    border-radius: 0.6rem;
    padding: 15px;
}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: var(--main-color)
}

.done-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.chore p {
    line-height: 30px;
    font-size: 1.2rem;
}