.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: auto;
    margin-top: 50px;
    background: radial-gradient(
        800px circle at 50% 25%,
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    background-color: rgb(40, 40, 40);
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
}

.container progress {
    width: 60%;
    height: 50px;
}

