<app-navbar></app-navbar>
<div class="container">
    <h2 class="title">Rooms</h2>
    <div class="card-list" cdkDropList (cdkDropListDropped)="drop($event)">
        <div #card class="card" *ngFor="let room of rooms" appCardTilt [card]="card" (click)="onRoomClick(room)"
            [ngStyle]="{'background-color': (room.status == 2) ? '#e34240' : 'var(--main-color)'}" cdkDrag>
            <div class="info-display">
                <h2>{{ room.name }}</h2>
                <p>{{ room.status | status }}</p>
            </div>
        </div>
    </div>
</div>
<form #roomForm #addRoomForm="ngForm" class="show-new-card" (ngSubmit)="addRoom()">
    <h2>Add Room</h2>
    <label for="name">Name</label>
    <input placeholder="Name" name="name" autocomplete="off" [(ngModel)]="newRoom.name">
    <button class="add-room">✔</button>
</form>
<button class="show-add-room" (click)="showAddRoom(roomForm)">+</button>