<app-navbar></app-navbar>
<div class="container">
    <div *ngIf="!isLoading">
        <h2 class="title">Rooms</h2>
        <p class="info-text" *ngIf="rooms.length == 0">
            It seems you have no rooms to work with - no worries! <br>
            Create a room by pressing the green button in the bottom right corner.
        </p>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="card-list" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListOrientation]="orientation">
        <app-card *ngFor="let room of rooms" [room]="room"></app-card>
    </div>
</div>
<form #roomForm #addRoomForm="ngForm" class="show-new-card" [ngClass]="{'showing':showRoomForm}" (ngSubmit)="addRoom()">
    <h2>Add Room</h2>
    <label for="name">Name</label>
    <input id="name" placeholder="Name" name="name" autocomplete="off" [(ngModel)]="newRoom.name">
    <button class="add-room">✔</button>
</form>
<button class="show-add-room" appOutsideClick (clickOutside)="showRoomForm = false" [countAsInside]="[roomForm]"
    [ngClass]="{'active':showRoomForm}" (click)="showAddRoom()" *ngIf="!isLoading">
    <span class="bar"></span>
    <span class="bar"></span>
</button>