.container {
    display: grid;
    max-width: 1200px;
    height: auto;
    margin: auto;
    justify-content: center;
}

@media(max-width:500px) {
    .container {
        min-width: 200px;
        max-width: 300px;
    }
}

.title {
    text-align: center;
    border-bottom: 2px solid white
}

.info-text {
    text-align: center;
    font-size: 1.1rem;
}

.card-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}


