.container {
    display: grid;
    max-width: 1200px;
    min-width: 600px;
    height: auto;
    margin: auto;
    margin-top: 1%;
    justify-content: center;
}

.title {
    text-align: center;
    border-bottom: 2px solid white
}

.card-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.card {
    display: grid;
    align-items: center;
    text-align: center;
    width: 300px;
    min-height: 100px;
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 0.6rem
}

.card > .info-display {
    line-height: 10px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-list.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}