<div class="container">
    <mat-button-toggle-group #group="matButtonToggleGroup" multiple (change)="updateChore()">
        <mat-button-toggle color="secondary" value="Monday">Mon</mat-button-toggle>
        <mat-button-toggle color="secondary" value="Tuesday">Tue</mat-button-toggle>
        <mat-button-toggle color="secondary" value="Wednesday">Wed</mat-button-toggle>
        <mat-button-toggle color="secondary" value="Thursday">Thu</mat-button-toggle>
        <mat-button-toggle color="secondary" value="Friday">Fri</mat-button-toggle>
        <mat-button-toggle color="secondary" value="Saturday">Sat</mat-button-toggle>
        <mat-button-toggle color="secondary" value="Sunday">Sun</mat-button-toggle>
    </mat-button-toggle-group>
</div>
