.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-wrap: wrap;
    word-wrap: break-word;
    min-height: 50px;
    height: auto;
}

mat-button-toggle-group {
    padding: 10px;
}

button mat-icon {
    scale: 1.5;
}

mat-button-toggle-group {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    border: none;
    gap: 5px;
    justify-content: center;
    width: 250px;
}

mat-button-toggle {
    box-shadow: none;
    flex-grow: 1;
    border-radius: 0.3rem;
}