<div class="chore" [ngClass]="choreClasses">
    <div *ngIf="roomStatus == 3">
        <p class="chore-priority">#{{ chorePriority }}</p>
        <input #choreName class="chore-name" [value]="chore.name" maxlength="15"
            (blur)="renameChore(chore, choreName.value, choreDesc.value)">
        <textarea #choreDesc autosize class="chore-desc" placeholder="Description text" maxlength="150"
            (blur)="renameChore(chore, choreName.value, choreDesc.value)">{{chore.description}}</textarea>
        <a class="remove-btn" (click)="removeChore(chore)">
            <mat-icon style="vertical-align: middle;">delete</mat-icon>
        </a>
    </div>
    <div *ngIf="roomStatus == 0">
        <h1>{{ chore.name }}</h1>
        <p>{{ chore.description }}</p>
        <button class="done-btn" (click)="onDoneClick()">
            <mat-icon style="vertical-align: middle;">done</mat-icon>
        </button>
    </div>
</div>