.chore {
    display: block;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    background-color: var(--main-color);
    border-radius: 0.6rem;
    border: 1px white solid;
    transition: all 250ms ease-in-out;
}

.chore p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 30px;
}

.chore-priority {
    position: absolute;
    left: 5px;
    top: 0px;
    font-size: 1rem;
    margin: 0;
}

.chore.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: none;
    cursor: pointer;
    position: relative;
    width: 300px;
    padding: 5px;
}

input, textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0.6rem;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    resize: none;
    box-sizing: border-box;
}

textarea {
    overflow: auto;
    height: 150px;
}

input.chore-name { 
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: bold;
}

input::placeholder, textarea::placeholder { 
    text-align: center;
}

textarea.chore-desc {
    font-size: 1.3rem;
}

.chore.active {
    height: 350px;
    position: absolute;
    padding: 10px;
    transition: all 250ms ease-in-out;
}

.chore p {
    padding: 10px;
    word-wrap: break-word;
    text-wrap: wrap;
}

.remove-btn {
    color: white;
    transition: 0.4s;
    align-self: center;
    position: absolute;
    right: 8px;
    top: 13px;
    height: 25px;
    width: 25px;
    background-color: transparent;
}

.remove-btn:hover {
    transform: rotateY(360deg);
}

.done-btn {
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(40, 40, 40);
    border: 1px solid white;
    transition: all 250ms ease-in-out;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.done-btn:hover {
    background-color: white;
    color: black;
}

.experience-txt {
    font-size: 1rem !important;
}