/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: rgb(20, 20, 20);
    --main-color: rgb(34, 169, 128);
    --secondary-color: 
    --locked-color:
}

body {
    background-color: var(--bg-color);
}

@font-face {
    font-family: OpenSans;
    src: url(src\assets\fonts\OpenSans-VariableFont_wdth,wght.ttf);
}

* {
    font-family: OpenSans;
    color: white;
}