/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #141414;
    --main-color: #22a980;
    --secondary-color: #4d36b4;
    --locked-color: #e34240;
}

body {
    background-color: var(--bg-color);
}

@font-face {
    font-family: OpenSans;
    src: url(src\assets\fonts\OpenSans-VariableFont_wdth,wght.ttf);
}

* {
    font-family: OpenSans;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-spinner circle {
    stroke: white !important;
}