.container {
    display: grid;
    max-width: 1200px;
    min-width: 600px;
    height: auto;
    margin: auto;
    margin-top: 1%;
    justify-content: center;
}

.title {
    text-align: center;
    border-bottom: 2px solid white
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: auto;
}

.card {
    display: block;
    position: relative;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
    margin: 0;
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 2rem;
}

.card > .info-display {
    left: 30px;
    position: absolute;
    line-height: 10px;
}

.card > .img-display {
    background-image: url("../../assets/imgs/card-symbols/icon0-vector-493-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    height: 75%;
}