<div class="center">
    <h1>HouseworkApp</h1>
    <h2>Register</h2>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
        <input id="firstName" placeholder="First Name" type="text" required [(ngModel)]="user.firstName" name="firstName">
        <input id="lastName" placeholder="Last Name" type="text" required [(ngModel)]="user.lastName" name="lastName">
        <input id="email" placeholder="Email" type="email" required [(ngModel)]="user.email" name="email">
        <input id="phoneNumber" placeholder="Phone Number" type="tel" required [(ngModel)]="user.phoneNumber" name="phoneNumber">
        <input id="password" placeholder="Password" type="password" required [(ngModel)]="user.password" name="password">
        <p style="color: red;">{{ errorMessage }}</p>
        <button type="submit">Register</button>
        <p>Already have an account? <a routerLink="/login">Log In</a>!</p>
    </form>
</div>