<header>
    <div class="container">
        <h1 class="title"><a (click)="home()">HouseworkApp</a></h1>
        <nav>
            <a (click)="toggleMenu()" class="toggle-button" [ngClass]="{'active': isMenuShowing}">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <ul [ngClass]="{'active': isMenuShowing}">
                <li (click)="home()">
                    Home <mat-icon >home</mat-icon>
                </li>
                <li routerLink="/profile">
                    Profile <mat-icon >person</mat-icon>
                </li>
                <li (click)="logout()">
                    Logout <mat-icon >logout</mat-icon>
                </li>
            </ul>
        </nav>
    </div>
</header>